@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    /* background-color: rgb(207, 207, 207); */
    color: black;
    padding: 5px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 8px;
    font-size: 50px;
    text-align: center;
    /* text-decoration: underline; */
    border-radius: 50px;
}

#img {
    /* width: 650px; */
    margin-top: 50px;
    margin-left: 15vw;
}

.a1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 100px;
    /* color: rgb(150, 91, 25); */
    margin-left: 50px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(158, 187, 241);
    padding: 10px;
}

.a2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 100px;
    /* color: rgb(150, 91, 25); */
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(158, 187, 241);
    padding: 10px;
}

q {
    font-size: 20px;
    margin-left: 20vw;
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 5px;

}

#Sri {
    margin-left: 70vw;
    padding-top: 20px;
    font-size: 20px;
    font-family: "Merriweather", serif;
    font-weight: 800;
    font-style: normal;
}

#side {
   float: left;
    width: 450px;
    height: 550px;
    margin-left: 45vb;
    margin-top: 5vh;
    border-radius: 30px;
    box-shadow: 0 0 50px rgb(121, 208, 235),
    0 0 100px rgb(121, 208, 235);
}

.about {
    width: 400px;
    margin-left: 120vb;
    margin-top: 9vh;
    font-size: 25px;
    line-height: 50px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

.video {
        margin-top: 100px;
        margin-left: 50vb;
        width: 800px;
        height: 400px;
        border-radius: 20px;
}

h2 {
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
    margin-left: 40vb;
    margin-top: 100px; 
    text-decoration-line: underline;
}

/* #pt {
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
    margin-left: 40vb;
    margin-top: 100px; 
    text-decoration-line: underline;
} */

#pt_ig {
    float: left;
    width: 350px;
    height: 500px;
    margin-left: 50vb;
    margin-top: 8vh;
    box-shadow: 0 0 50px grey,
    0 0 100px grey,
    0 0 150px grey;
    border-radius: 10px;
    background-color: red;
    /* display: block; */
}

.mor {
    float: right;
    margin-right: 30vb;
    margin-top: 10vh;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    border: 4px solid blue;
}

.eve {
    float: right;
    margin-right: 30vb;
    margin-top: 5vh;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    border: 4px solid blue;
}

.under1 {
    margin-left: 39vh;
    font-size: 25px;
}

.under2 {
    margin-left: 39vh;
    font-size: 25px;
}

.map {
    float: right;
    margin-right: 30vb;
    border-radius: 20px;
    margin-top: 20px;
    border: 5px solid blue;
    height: 300px;
    width: 400px;
}

.con {
 width: 360px;
 margin-top: 5vh;
 padding: 20px;
 background-color: rgb(169, 169, 246);
 margin-left: 50vb;
 line-height: 50px;
 font-size: 25px;
 border-radius: 15px;
}

hr {
    height: 200px;
    background-color: aquamarine;
    background-image: src="social";
}
